@import "fonts.scss";
@import "nullstyle.scss";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&family=Roboto:wght@400;500&family=Russo+One&display=swap');


body{
    font-family: 'Russo One', sans-serif;
    background:rgb(255, 255, 255);
}

.header{
    line-height: 80px;
    font-size: 50px;
    text-align: center;
    background: #668f96;
}

.page__content{
    max-width: 1320px;
    margin: 0 auto;

}

.difficulty-level {
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: center;


    &__header {
        
        padding-top: 30px;
        font-size: 32px;
        text-align: center;
    }

    &__list {
        margin-top: 30px;
        display: flex;
        justify-content: center;
        gap: 50px;
        
        &__button {
            font-size: 24px;
            padding: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
    

            &_easy {
                background: green;
            }

            &_normal {
                background: orange;
            }

            &_hard {
                background: red;
            }

            &:hover{
                cursor: pointer;
            }
        }
    }

}

.game-area{
    width: 300px;
    margin: 50px auto 0 auto;
    border: solid black 3px;


    &__top-panel{
    font-family: digital;
    background: lightgray;
    font-size: 70px;
    color: red;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:80px;
    border-bottom: solid black 2px;

        &__mine-counter {
            border-radius: 5px;
            padding: 0 5px 0 5px;
            background-color: rgb(20, 20, 20);
            height: 60px;
            display: flex;
            align-items: center ;
            font-size: inherit;
        }
        
        &__timer {
            border-radius: 5px;
            padding: 0 5px 0 5px;
            background-color: rgb(20, 20, 20);
            height: 60px;
            display: flex;
            align-items: center ;
            font-size: inherit;
        }

        &__button {
            width: 60px;
            height: 60px;
            background-size: 100%;
            background-image: url(../img/svgicons/face_unpressed.svg);

            &_win {
                width: 60px;
                height: 60px;
                background-size: 100%;
                background-image: url(../img/svgicons/face_win.svg);
            }

            &_lose {
                width: 60px;
                height: 60px;
                background-size: 100%;
                background-image: url(../img/svgicons/face_lose.svg);
            }
        }

    }
    
    &__field {
        display: flex;
        flex-wrap: wrap;
        
    }

}

.cell {
    width: 40px;
    height: 40px;
    font-size: 26px;
    box-sizing: border-box;
    float: left;
    background-size: 100%;
    font-weight: 700;
    text-align: center;
    line-height: 39px;
    background-image: url(../img/svgicons/opened.svg);
    
    &_closed {
        background-image: url(../img/svgicons/closed.svg);
    }
    
    &_clear {
        background-image: url(../img/svgicons/opened.svg);
    }
    &_flag{
        background-image: url(../img/svgicons/flag.svg);
    }
    &_digit-1::before{
        content: "1";
        color:blue;
    }
    &_digit-2::before{
        content: "2";
        color:green;
    }
    &_digit-3::before{
        content: "3";
        color:red;
    }
    &_digit-4::before{
        content: "4";
        color:rgb(47, 17, 82);
    }
    &_digit-5::before{
        content: "5";
        color:rgb(70, 5, 5);
    }
    &_digit-6::before{
        content: "6";
    }
    &_digit-7::before{
        content: "7";
    }
    &_digit-8::before{
        content: "8";
    }
}

.mine {
    background-image: url(../img/svgicons/mine.svg)
}

.mine-red {
    background-image: url(../img/svgicons/mine_red.svg);
}

.footer {
    height: 150px;
}


